.footer {
    align-items: center;
    background-color: rgb(3,3,3);
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
  }
  
  .footer a {
    color: #999;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #fafafa;
    text-decoration: underline;
  }

  .footer__social {
    margin-right: 2rem;
  }


  .footer__social--logo {
    width: 1.5rem;
  }

  .footer__social--logo:hover{
    opacity: 70%;
  }